<section>
    <form #f="ngForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
        <h1>Recover password</h1>
        <mat-form-field class="authInputs">
            <input 
            #username
            type="email" 
            ngModel 
            matInput 
            placeholder="Email" 
            email
            required
            name="email"
            >
        </mat-form-field>

        <span *ngIf="!f.valid && f.touched">Neispravno uneti podaci</span>
        
        <button type="submit" mat-raised-button color="accent">RECOVER</button>
        <div>
            <span>Want to go back to </span>
            <a href=""  [routerLink]="'../'+'login'">Log in</a>?
        </div>
        
    </form>
</section>
